﻿

    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" ng-app="hw_grid">
    <head>
        <title></title>
        <script src="Scripts/angular.js"> </script>
        <script src="Scripts/Controllers/GridCtrl.js"> </script>
        <!--<link rel="stylesheet"
              href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css">-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


    </head>
    <style>
        .ButtonContainer {
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        } 
        
        .MainContainer {
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }
        .MainContainer table {
            width: 100%;
        }
    </style>
    <body ng-controller="gridCtrl">

        <div class="ButtonContainer">
            <input type="button" value="{{toggleText}}" ng-click="showDetails = ! showDetails" class="btn btn-default" />
        </div>
        <div ng-model="mainContent" ng-show="showDetails" class="MainContainer">
            <input ng-model="query" type="text" />
            <table>
                <tr>
                    <th><a href="" ng-click="sort('firstName')">First Name<span class="{{Header[0]}}"></span></a></th>
                    <th><a href="" ng-click="sort('lastName')">Last Name<span class="{{Header[1]}}"></span></a></th>
                    <th><a href="" ng-click="sort('age')">Age<span class="{{Header[2]}}"></span></a></th>
                    <th><a href="" ng-click="sort('address.city')">City<span class="{{Header[3]}}"></span></a></th>
                    <th>
                        <select ng-model="PhoneSelector" name="select" ng-change="ChangePhone(PhoneSelector)">

                            <option ng-repeat="phone in persons[0].phoneNumber" value="{{phone.type}}">{{phone.type}}</option>

                        </select>


                    </th>
                    <th>
                        Action
                    </th>
                </tr>

                <tr ng-repeat="person in persons |filter:query | orderBy: columnToOrder:reverse">
                    <td>{{person.firstName}}</td>
                    <td>{{person.lastName}}</td>
                    <td>{{person.age}}</td>
                    <td>{{person.address.city}}</td>
                    <td>

                        <span ng-show="PhoneSelector=='{{phone.type}}'" ng-repeat="phone in person.phoneNumber">{{phone.number}} </span>


                        <!--<span ng-show="showHomePhone"> {{person.phoneNumber[0].number}}</span>
                    <span ng-show="!showHomePhone"> {{person.phoneNumber[1].number}}</span>-->
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                </tr>
            </table>

        </div>

    </body>
</html>
